.sidebar {
  min-width: 300px;
  max-width: 300px;
  background: linear-gradient(
    180deg,
    rgba(248, 250, 183, 1) 0%,
    rgba(240, 240, 240, 1) 45%,
    rgba(242, 248, 4, 1) 100%
  );
}

.sidebar ul .selected {
  background-color: yellow;
  font-weight: bold;
  color: white;
}

.contactMenu,
.quemSomosMenu,
.productsMenu ul li {
  text-decoration: underline;
  color: #000;
}

.productsList:hover {
  cursor: pointer;
}
.molhos,
.agridoces,
.geleias {
  cursor: pointer;
}

.geleiasTipos li:hover,
.agridocesTipos li:hover,
.molhosTipos li:hover {
  color: red;
  transition: 0.5s;

  font-size: 17px;
  padding: 20px;
}
li {
  padding: 30px;
  align-items: center;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
}

/* Smartphones (320px - 480px) */
@media screen and (max-width: 480px) {
  .sidebar {
    min-width: 100%; /* Define a largura da barra lateral como 100% */
    max-width: 100%;
  }

  li {
    padding: 15px; /* Ajusta o espaçamento para telas menores */
  }
}

/* Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    min-width: 250px; /* Ajusta a largura da barra lateral para tablets */
  }

  li {
    padding: 20px; /* Ajusta o espaçamento para tablets */
  }
}

/* Laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Não há necessidade de ajustes específicos para laptops, mantenha os estilos originais */
}

/* Desktops (1025px - 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Não há necessidade de ajustes específicos para desktops, mantenha os estilos originais */
}

/* Telas grandes (1201px e superior) */
@media screen and (min-width: 1201px) {
  /* Você pode adicionar estilos específicos para telas maiores aqui, se necessário */
}
