.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 270px;
  height: 200px;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 50px;
  transition: all 0.3s ease;
}
.card img {
  margin-bottom: 20px;
  width: 110px;
  height: auto;
}
.card .cardText {
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
