.header {
  background: rgb(242, 248, 4);
  background: radial-gradient(
    circle,
    rgba(242, 248, 4, 1) 0%,
    rgba(249, 250, 188, 1) 33%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logoJoaozinho {
  width: 300px;
  height: 200px;
}
/* Smartphones (320px - 480px) */
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
  }

  .logoJoaozinho {
    width: 200px; /* Adjust logo width for smaller screens */
    height: 150px; /* Adjust logo height for smaller screens */
  }
}

/* Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .logoJoaozinho {
    width: 250px; /* Adjust logo width for tablets */
    height: 175px; /* Adjust logo height for tablets */
  }
}
