.containerHome {
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: flex;
  background-color: rgb(238, 238, 238);
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 480px) {
  h1 {
    margin-top: 10px;
  }
}

.cardsHome {
  display: flex;
  flex-direction: column;
}
.cardsHome img {
  width: 100%;
  height: 110%;
}
.cardsHome :hover {
  cursor: pointer;
}
.cardsHome a {
  text-decoration: none;
  color: #000;
}

.videosHome {
  margin-top: 370px;
}
.videoHome {
  width: 350px;
  height: auto;
}

h1 {
  text-decoration: underline;
}

/* Smartphones (320px - 480px) */
@media screen and (max-width: 480px) {
  .containerHome {
    /* Adjust layout for smaller screens */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements horizontally */
  }

  .cardsHome img {
    height: auto; /* Adjust image height for better fit */
  }

  .videosHome {
    margin-top: 200px; /* Reduce margin for smaller screens */
  }

  .videoHome {
    width: 100%; /* Set video width to 100% */
  }
}

/* Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .videosHome {
    margin-top: 250px; /* Adjust margin for tablets */
  }

  .videoHome {
    width: 250px; /* Adjust video width for tablets */
  }
}

/* Laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* You can add specific adjustments for laptops here, if needed */
}

/* Desktops (1025px - 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* You can add specific adjustments for desktops here, if needed */
}

/* Large screens (1201px and above) */
@media screen and (min-width: 1201px) {
  /* You can add specific adjustments for large screens here, if needed */
}
