.instagramPage {
  display: inline-block;
  font-size: 1.2rem;
  color: #000;
}

.instagramPage a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.instagramPage a:hover {
  text-decoration: underline;
}

.instagramPage svg {
  margin-right: 5px;
  fill: #c32aa3;
}
