.whatsappContact {
  display: inline-block;
  font-size: 1.1rem;
  color: #000;
}

.whatsappContact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.whatsappContact svg {
  margin-right: 5px;
  fill: #4267b2;
}

.whatsUnderline a:hover {
  text-decoration: underline;
}
